<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Votre email : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Modifier: votre email / votre mot de passe", edit_user_registration_path %>
    </li>

  <% else %>
    <li>    
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul>